---
---
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/registration" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/registration">/registration</a>...</p>
  </body>
</html>
